.navbar {
  transform: translate3d(0, 0, 0);
  transition: 0.5s all ease-out;
  margin: 0px 85px;
  padding: 30px 0 30px;
  .navbar-nav {
    .nav-link {
      color: #0c0d36;
      margin: 0 8px;
    }
    .active {
      color: #ff7158 !important;
    }

    .nav-item {
      .profile-picture {
        width: 50px;
      }
      .chart {
        margin-top: 0 !important;
      }
    }
  }
  .nav-profile {
    margin-left: 30px !important;
  }
  .btn-success {
    width: 120px;
    height: 45px;
    font-size: 16px;
    margin-left: 30px;
    &:hover {
      background: #fff;
      color: #0c0d36;
      border-width: 2px;
      box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2);
    }
  }
}
.navbar-hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}

@media (max-width: 1199.98px) {
  .navbar {
    margin: 0px 50px;
    padding: 20px 0 20px;
    .navbar-nav {
      align-items: center !important;
      line-height: 60px;
    }
    .btn-success {
      margin-left: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .navbar {
    margin: 0px 20px;
    padding: 15px 0 15px;
    .navbar-nav {
      align-items: center;
      line-height: 60px;
    }
  }
}

@media (max-width: 575.98px) {
  .navbar {
    margin: 0px 15px;
    padding: 15px 0 15px;
    .navbar-nav {
      align-items: center;
      line-height: 60px;
    }
  }
}
